/* Tablet */
@media (max-width:768px) {
    .second section {
        grid-template-columns: auto;
    }
    .matches{
        grid-template-columns: auto;
    }
     .See {
      
        grid-template-columns: repeat(2,1fr);    
    }
    .button {
       
        display: block;
    }

    .menu {
      
        height: auto;
    }
    .ml {
        flex-direction: column;
        align-items: center;
    }
        .part-2 h1 {
            font-size: 2rem;
            
        }
        .part-2 p {
            font-size: .8rem;
            
        }

   }
@media (max-width:576px) {
    .See {
      
        grid-template-columns: repeat(1,1fr);
        margin: auto;
        width: 90%;
       
    }
    .button {
       
        display: flex;
    }
    .part-2 h1 {
        font-size:1.5rem;
        
    }
    .part-2 p {
        text-overflow: ellipsis;
        
    }

}
  
