/* body css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

img{
    width: 100%;
}
.width img{
        position: relative;
        animation: imageTransition 5s ease-in-out infinite;
       }
.cup{
    max-width: 1240px;
    margin: auto;
}

.width{
    width: 48%;
   margin: auto;

}
.buttons-red {
    text-decoration: none;
    color: #fff;
    background: red;
    padding: 10px 25px;
    margin: 20px 0;
    display: inline-block;
    transition: .6s;
}
.buttons-red:hover{
    background: #000;
}
.header{
    margin: 50px auto;
}
.part-2 {
    width: 80%;
    margin: auto;
}
/* Header  */
 
   .banner{
    background: #161616;
    border-radius: 30px;
    display: flex;
    color: #fff;

   }
   .part-2 a{
    text-decoration: none;
    color: #ffffff;
    font-size: xx-large;
    background-color: #D00000;
    border-radius: 10px;
    width: 206px;
    height: 56px;
}

.part-2 h1 {
    font-size: 54px;
    margin-bottom: 8px;
}

/* second section css */
.second-section{
    margin-top: 200px;
}
.matches {
    display: grid;
    grid-template-columns: 260px auto;
}
.menu {
    background: #000;
    padding: 30px 0;
    height: 300px;
    border-radius: 10px;
   
    margin-right: 21px;
}
.button{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0 16px;
    text-align: center;
}
.buttons {
    margin: 5px 0;
}

a.buttons.active {
    background: red;
    border: none;
    color: #fff;
}
.buttons{
    text-decoration: none;
    color: #000;
    background: #fff;
    padding: 10px 25px;
    margin: 20px 0;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid lightgray;
    transition: .6s;
}
.buttons:hover{
background-color: #000;
color: #fff;
}

.See{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 30px;
    margin-bottom: 50px;
}
.match {
    
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    padding: 20px;
}
.iconoic {
    display: flex;
   
    margin-top: 20px;
}

.Time-chat {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 10px;
}

.icon img{
    width: 24px;
    height: 24px;
}
/* Upcoming-match--------- */
#war .image{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#war .image img{
    width: 38%;
    
}

#war h6 {
    font-size: 1.3rem;
    padding: 10px;
}

.images:hover .image img{

        transform: scale(1.1);
        border-radius: 5px;

}
.text {
    text-align: center;
    padding: 10px;
  
    margin-top: 20px;
}
.text p {
    color: #4D4D4D;
   
    padding-top: 5px;
}
/* upcoming-match finished----------- */

/* footer start */
#footer {
    background: #000;
    color: #fff;
    
    padding: 41px;
}

#footer .part1 h1{
    text-align: center;
}

.ml {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}
.ml a {
    text-decoration: none;
    color: #fff;
    padding: 0 25px;
}

.links {
    text-align: center;
    margin-top: 30px;
}

.links a {
    font-size: 25px;
    padding: 14px;
    color: #fff;
   
}
/* footer end */
/* Animation */

@keyframes link {
    0%   {background-color: red; transform: scale(1);}
    25%  {background-color: orange; transform: scale(1.1);}
    50%  {background-color: pink; transform: scale(1.3);}
    100% {background-color: green; transform: scale(1);}
  }
  .link{
    margin-top: 30px;
    animation: link 2s infinite forwards;
  }
  .link{
        position: relative;
  animation-name: linktranscation ;
  animation-duration: 8s;
    }
  @keyframes linktranscation {
    0%   {background-color:red; left:0px; right:0px;}
    25%  {background-color:yellow; left:50px; right:0px;}
    50%  {background-color:blue; left:50px; right:50px;}
    100% {background-color:red; left:0px; right:0px;}
  }
/* ----------------Repo start------------- */
/* Tablet */
@media (max-width:768px) {
    .second section {
        grid-template-columns: auto;
    }
    .matches{
        grid-template-columns: auto;
    }
     .See {
      
        grid-template-columns: repeat(2,1fr);    
    }
    .button {
       
        display: block;
    }

    .menu {
      
        height: auto;
    }
    .ml {
        flex-direction: column;
        align-items: center;
    }
        .part-2 h1 {
            font-size: 2em;
            
        }
        .part-2 p {
            font-size: .8em;
            
        }

   }
   /* Moblie */
@media (max-width:576px) {
    .See {
      
        grid-template-columns: repeat(1,1fr);
        margin: 50px auto;;
        width: 90%;
       
    }
    .part-2 p {
        font-size: .8em;
        
    }
    .button {
       display: grid;
       grid-template-columns: repeat(3,1fr);
       grid-gap: 5px;
       
    }
    .part-2 h1 {
        font-size: 2em;
        
    }
}

/* repo finished */
